.menu:hover, .menu:focused{
    -fx-border-color: #c584f1;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}

.menu:hover .menu-title{
    -fx-text-fill: #c584f1;
}

#app-bar{
    -fx-background-radius: 5px 5px 0 0;
}

#title{
    -fx-font-size: 14px;
    -fx-font-weight: 500;
}
